<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Readers page</title>
</head>
<body>
    <table>
        <tr>
            <th style="border: 1px solid black">Id</th>
            <th style="border: 1px solid black">Имя читателя</th>
        </tr>
        <tr th:each="readers: ${readers}" style="border: 1px solid black">
            <td th:text="${readers.getId()}" style="border: 1px solid black"></td>
            <td th:text="${readers.getName()}" style="border: 1px solid black"></td>
        </tr>
    </table>
</body>
</html>